@import url('./styles/container.css');
@import url('./styles/header.css');
@import url('./styles/main.css');
@import url('./styles/aside.css');
@import url('./styles/article.css');
@import url('./styles/footer.css');

* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

